<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EsfSaveEditorControls.ATW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EsfSaveEditorControls.R2TW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EsfSaveEditorControls.R2TW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="EsfSaveEditorControls.ATW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EsfSaveEditorControls.ATW>
            <setting name="dataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>data.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="locDataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>local_en.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="save_path" serializeAs="String">
                <value>The Creative Assembly\Attila\save_games</value>
            </setting>
        </EsfSaveEditorControls.ATW>
        <EsfSaveEditorControls.R2TW>
            <setting name="dataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>data_rome2.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="locDataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>local_en.pack</string>
                        <string>local_en_rome2.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="gamePath" serializeAs="String">
                <value />
            </setting>
            <setting name="save_path" serializeAs="String">
                <value>The Creative Assembly\Rome2\save_games</value>
            </setting>
        </EsfSaveEditorControls.R2TW>
    </userSettings>
    <applicationSettings>
        <EsfSaveEditorControls.R2TW>
            <setting name="exe" serializeAs="String">
                <value>Rome2.exe</value>
            </setting>
            <setting name="gameName" serializeAs="String">
                <value>Total War: Rome 2</value>
            </setting>
            <setting name="character_class_path" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="character_filter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>general</string>
                        <string>spy</string>
                        <string>champion</string>
                        <string>dignitary</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="character_gender" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="army_class" serializeAs="String">
                <value>MILITARY_FORCE_LEGACY\0</value>
            </setting>
            <setting name="army_filter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>army</string>
                        <string>navy</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="army_index" serializeAs="String">
                <value>MILITARY_FORCE_LEGACY\2</value>
            </setting>
        </EsfSaveEditorControls.R2TW>
        <EsfSaveEditorControls.ATW>
            <setting name="exe" serializeAs="String">
                <value>Attila.exe</value>
            </setting>
            <setting name="gameName" serializeAs="String">
                <value>Total War: Attila</value>
            </setting>
            <setting name="character_class_path" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="character_filter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>general</string>
                        <string>wife</string>
                        <string>spy</string>
                        <string>champion</string>
                        <string>priest</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="character_gender" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="army_class" serializeAs="String">
                <value>MILITARY_FORCE_LEGACY\1</value>
            </setting>
            <setting name="army_filter" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>army</string>
                        <string>navy</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="army_index" serializeAs="String">
                <value>MILITARY_FORCE_LEGACY\3</value>
            </setting>
        </EsfSaveEditorControls.ATW>
    </applicationSettings>
</configuration>