<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="EditSFCharacters.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="EditSFCharacters.ATW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="EditSFCharacters.R2TW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
    <userSettings>
        <EditSFCharacters.Properties.Settings>
            <setting name="gameid" serializeAs="String">
                <value />
            </setting>
        </EditSFCharacters.Properties.Settings>
        <EditSFCharacters.ATW>
            <setting name="dataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>data.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="locDataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>local_en.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
        </EditSFCharacters.ATW>
        <EditSFCharacters.R2TW>
            <setting name="dataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>data_rome2.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="locDataPacks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>local_en.pack</string>
                        <string>local_en_rome2.pack</string>
                    </ArrayOfString>
                </value>
            </setting>
        </EditSFCharacters.R2TW>
    </userSettings>
</configuration>
